# IDEA files
/.idea/
/out/
/*.iml

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT

# VSCode settings
.vscode/settings.json

# Project settings
data/hospital_data.json
data/hospital_backup_*.json

# Neovim settings
.classpath
.project
.settings/org.eclipse.buildship.core.prefs
